{% extends "pages/base_index.html" %}
{% load static %}


{% block meta_tags %}
    <title>Cipher</title>
{% endblock %}

{% block content %}
    <form>
    <select class="form-control">
        <option></option>
    </select>
    <div class="mb-3">
        <label for="cipher_textarea"></label>
        <textarea class="form-control" id="cipher_textarea" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label for="decipher_textarea"></label>
        <textarea class="form-control" id="decipher_textarea" rows="3" disabled></textarea>
    </div>
         <input type="submit" value="Submit">
    </div>
    </form>


{% endblock %}